*{
    box-sizing: border-box;
    display: block;
}
head{
    opacity: 0;
    height: 0px;
}
body{
    margin: 0;
}
header{
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 85px);
}
.button{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Candara';
    color: #dddff6;
    background-color: #536ee0;
    border-radius: 5px;
    padding: 10px;
}
.buttons{
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Candara';
    color: #dddff6;
    background-color: #536ee0;
    border-radius: 5px;
    padding: 10px;
    margin-left: 22px;
    margin-right: 22px;
}
.buttons:hover, .buttons2:hover, .button:hover{
    background-color: #5e6ee0;
}
