.hi-block{
    box-shadow: -1px -12px 81px -12px rgba(0,0,0,0.75);
    text-align: center;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    padding-bottom: 40px;
}
.hi-block>.item{
    width: 222px;
    margin-left: auto;
    margin-right: auto;
    color: #101129;
    font-family: 'Calibri';
    font-weight: 100;
    text-align: center;
    margin-top: -81px;
}
.hi-block>.item>img{
    margin-left: 30px;
    margin-right: 30px;
}
.hi-block>.item>h1{
    margin-top: 0px;
    margin-bottom: 15px;
}
.hi-block>.item>h4{
    color: #737373;
    height: 100px;
    margin: 0;
    font-size: 18px;
}
.preview {
    height: 50vh;
    background-position: center;

    width: 100%;
}
.inner-preview{
    padding-top: 70px;
    text-align: center;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.25);
    padding-left: calc(50% - 175px);
}
.inner-preview>hr{
    margin: 10px;
    margin-left: 75px;
    margin-right: 75px;
    width: 200px;
}
.inner-preview>h1{
    font-family: 'Candara';
    color: #dddff6;
    width: 350px;
    margin: 0;
    font-size: 36px;
}
.inner-preview>h4{
    font-family: 'Microsoft Sans Serif';
    color: #f1f1f1;
    width: 350px;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
}
.buttons2{
    margin-top: 17px;
    width: 150px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Candara';
    color: #dddff6;
    background-color: #536ee0;
    border-radius: 5px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
.fuv-team>h1{
    margin-top: 0;
    margin-bottom: 25px;
    color: #101129;
    font-family: 'Arial';
    font-weight: 100;
    text-align: center;
}
.fuv-team>.inner-fav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    padding-bottom: 50px;
}
.fuv-team>.inner-fav>.item{
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}
.fuv-team{
    padding-top: 25px;
    background-color: #f4f6f8;
}
.fuv-team>.inner-fav>.item>.icon{
    margin-left: 15px;
    margin-right: 15px;
    width: 130px;
    height: 130px;
    border-radius: 90px;
    background-color: #778be0;
}
.fuv-team>.inner-fav>.item>h3{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 100;
    color: #101129;
}
.fuv-team>.inner-fav>.item>h4{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    font-family: 'Arial';
    font-weight: 100;
    color: #737373;
}

.donate {
    width: 100%;
    height: 100px;
    background-color: #8597e4;
    color: #f1f1f1;
}
.donate>.buttons{
    margin: 0;
    width: 200px;
    float: right;
    margin-top: -35px;
    margin-right: 50px;
    background-color: #e2907a;
}
.donate>.buttons:hover{
    background-color: #e38c75;
}
.donate>h1{
    font-weight: 100;
    width: 880px;
    font-family: 'Candara';
    margin: 0px;
    padding-top: 38px;
    padding-left: 50px;
    font-size: 24px;
}
footer{
    height: 80px;
    background-color: #3a3a3a;
    color: #919191;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    font-family: 'Candara'
}

@media screen and (max-width: 1130px){
    .hi-block{
        grid-template-columns: 1fr;
    }
    .hi-block>.item{
        margin-left: auto;
        margin-right: auto;
        width: 222px;
        margin-top: 40px;
    }
    .fuv-team>.inner-fav{
        grid-template-columns: 1fr 1fr;
    }
    .donate{
        height: 220px;
    }
    .donate>h1{
        width: 100%;
        font-weight: 100;
        text-align: center;
        font-family: 'Candara';
        margin: 0px;
        padding-top: 38px;
        padding-left: 50px;
        font-size: 24px;
    }
    .donate>.buttons{
        width: 220px;
        display: block;
        margin-top: 38px;
        margin-right: calc(50% - 130px);
        margin-left: auto;
        background-color: #e2907a;
    }
}

@media screen and (max-width: 7cm){
    .hi-block{
        grid-template-columns: 1fr;
    }
    .hi-block>.item{
        margin-left: auto;
        margin-right: auto;
        width: 222px;
        margin-top: 40px;
    }
    .fuv-team>.inner-fav{
        grid-template-columns: 1fr 1fr;
    }
    .donate{
        height: 220px;
    }
    .donate>h1{
        width: 100%;
        font-weight: 100;
        text-align: center;
        font-family: 'Candara';
        margin: 0px;
        padding-top: 38px;
        padding-left: 50px;
        font-size: 24px;
    }
    .donate>.buttons{
        width: 220px;
        display: block;
        margin-top: 38px;
        margin-right: calc(50% - 130px);
        margin-left: auto;
        background-color: #e2907a;
    }
}
